<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<style>
.odd { background-color: #fafafa;}
.even { background-color: silver}
</style>
</head>
<body ng-controller="phoneController">
  <div ng-controller="phoneController">
    <div ng-repeat="button in modes">
      <label>
        <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes" />
        {{button.label}}
      </label>
    </div>
    <div ng-include="setFile()"></div>
  </div>
<script src="js/angular-1.6.9/angular.min.js"></script>
<script type="text/javascript">
angular.module('myApp', []);
</script>
<script src="js/controllers/phonesController.js"></script>
</body>
</html>
